@model TrashCollector.Models.PickUp

@{
    ViewData["Title"] = "Add_PickUp";
    Layout = "~/Views/Customers/Create.cshtml";
}

<h1>Add_PickUp</h1>

<h4>PickUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add_PickUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PickUpDay" class="control-label"></label>
                <input asp-for="PickUpDay" class="form-control" />
                <span asp-validation-for="PickUpDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPickUp" /> @Html.DisplayNameFor(model => model.IsPickUp)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

